#header {
  width: 100%;
  height: auto;
  padding-top: var(--margin-01);
}

#header .wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

#header .logo,
#header .navigation-icon {
  display: block;
  height: 12px;
  width: auto;
}

#header .title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  color: var(--fg-02);
}

#header .title strong {
  font-weight: 500;
}

#header .logo {
  display: block;
  height: 20px;
  width: 30px;
  margin-right: var(--margin-01);
}

#header h2 {
  font-weight: 500;
  display: block;
}

#header nav {
  position: sticky;
  top: 0;
  z-index: 10;
  font-weight: 500;
  display: block;
  width: calc(100% + 1px);
  padding: var(--margin-01) 0 var(--margin-01) 0;
}

#header nav ul {
  display: flex;
  flex-flow: row;
  align-items: stretch;
  justify-content: flex-start;
}

#header nav ul li {
  display: flex;
  flex-flow: column;
}

#header nav ul li:first-child {
  min-width: var(--margin-03);
}

#header nav ul li:not(:last-child) {
  margin-right: var(--margin-02);
}

#header nav a {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  flex-grow: 1;

  text-decoration: none;
  color: var(--fg-02);
  border-bottom: 2px solid transparent;
  transition: border-color 0.5s ease;
  padding: 0 0 2px 0;
}

#header nav a:hover {
  color: var(--fg-02);
  border-bottom: 2px solid var(--fg-02);
}

#header nav a.-active {
  border-bottom: 2px solid var(--hl-02);
}
